// fuentes

$fuentePrincipal:  'Lato', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;

//  maedia querys

$telefono: 375px;
$tablet: 768px;
$desktop: 1024;

$negro: #000000;
$blanco: #ffffff;
$grisClaro: #f4f4f4;
$bordo: #962222;
$rosa: #7a3333;
$colorFondo: #cacccd;
$colorLinea: #848484;
$navegacion: #3d637c;