@use 'base/variables' as v;
@use 'base/mixins' as m;

.bodegas {
    background-image: url(../img/fondo-bode3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 3rem;
 
    @include m.flex(flex, column, space-around, center);

    @include m.tablet {
        height: 100vh;
        }
    
    &__imagenes {
        padding: 2rem;
        border-radius: .5rem;
        background-color: v.$colorFondo;
        opacity: 0.7;

        width: 100%;
        @include m.flex(flex, column, space-between, center);

        @include m.tablet {
            width: 70%;
            @include m.grid(2, 1fr);
            gap: 5rem;
            
            }
    }

    &__image {
        width: 70%;
        height: auto;
        margin-bottom: 5rem;
        margin: 0 auto;
        padding: 3rem;
        transition: 300ms ease-in-out;
        

        &:hover {
            transform: scale(1.3);
        }
    }

    &__image-achicar {
        width: 60%;
        margin: 0 auto;
        transition: 300ms ease-in-out;
        margin-bottom: 5rem;
        @include m.tablet {
            width: 50%;
     }

     &:hover {
        transform: scale(1.3);
    }
    }


    &__h1 {
        
        color: v.$colorFondo;
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
       

        @include m.tablet {
            padding: 0;
            font-size: 4rem;
     }
    }
}